.button {
	font-size: 16px;
	background-color: lightgreen;
	padding: 8px 16px;
	border-radius: 5px;
	border: none;
	transition-duration: 0.4s;
}
.button:hover {
	background-color: green;
	color: white;
	
}
#containermap{
	margin: 0 auto;
	margin-bottom: 50px;
}

#parent{
	display: flex;
}
#left{
	width: 400px;
	height: 300px;
	background-color: blue;
}
#right{
	flex: 1;
	height: 300px;
}

#right {                                                          
        height: 360px;                                                  
        position: relative;                                             
        width: 360px;                                                   
}                                                                 
.tooltip {                                                        
        background: #eee;                                               
        box-shadow: 0 0 5px #999999;                                    
        color: #333;                                                    
        display: none;                                                  
        font-size: 12px;                                                
        left: 130px;                                                    
        padding: 10px;                                                  
        position: absolute;                                             
        text-align: center;                                             
        top: 95px;                                                      
        width: 80px;                                                    
        z-index: 10;                                                    
}  