header{
  color: black;
  margin: 10px;
  background-color: #FFFFD0;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  text-align: center;
}
body{
  background-color: #cfffcf;
}
.button {
	font-size: 16px;
	padding: 8px 16px;
	border-radius: 5px;
	border: none;
  cursor: pointer;
  background-color: lightgreen;
	transition-duration: 0.4s;
  margin-top: 10px;
}
.button:hover {
  background-color: black;
	color: white;	
}

#jewism{
  background-color: #377eb8;
}
#unaf{
  background-color: #e41a1c;
}
#christ{
  background-color: #ff7f00;
}
#islam{
  background-color: #984ea3;
}
#hinduism{
  background-color: #4daf4a;
}
#buddhism{
  background-color: #f781bf;
}
#other{
  background-color: #ffff33;
}
#folk{
  background-color: #a65628;
}

#containermap{
	margin: 0 auto;
	margin-bottom: 50px;
}

#parent{
	display: flex;
  height: 450px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: #FFFFD0;
}
#left{
	width: 300px;
	height: 300px;
}

#right {                                                          
        height: 300px;                                                  
        position: relative;                                             
        width: 300px; 
                                                          
}                                                                 
.tooltip {                                                        
        background: #eee;                                               
        box-shadow: 0 0 5px #999999;                                    
        color: #333;                                                    
        display: none;                                                  
        font-size: 12px;                                                
        left: 130px;                                                    
        padding: 10px;                                                  
        position: absolute;                                             
        text-align: center;                                             
        top: 95px;                                                      
        width: 80px;                                                    
        z-index: 10;                                                    
}  
.titel{
	text-align: center;
	font-size: 18px;
}
.titelpie{
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 15px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}
#containermap{
	background-color: #FFFFD0;
	margin-top: 10px;
	border-radius: 15px;
  border-style: solid;
  border-color: black;

}
#parent{
	margin: 0 auto;
}
#left{
	margin: 0 auto;
}
#right{
	margin: 0 auto;
}
#pie{
	margin: 0 auto;
}
.legend {
	font-size: 12px;
}
rect{
	stroke-width: 2;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.tooltipscatter {
  position: absolute;
  pointer-events: none;
  background-color: lightgreen;
  border-radius: 5px;
  text-align: center;
}
.dropbtn {
    background-color: lightgreen;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-top: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: green;
    color: white;
    border-bottom-left-radius: 0px;
}
.tooltippie{
  text-align: center;
  position: absolute;
  background-color: lightgreen;
  border-radius: 5px;
  margin: 10px;
  margin-top: 45px;
}
.datamaps-hoverover{
  background-color: blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 100px;
    list-style-type: none;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: fixed;
    overflow: auto;
}
li a {
    display: block;
    width: 100px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    text-align: center;
}
li a:hover{
  background-color: black;
  color: white;
}
#para{
  width:300px;
  text-align: center;
}
